.boton-cesta {
  display: flex;
  align-self:center ;
  background-color: yellow;
  text-align: center;
  
}
section {
  display: flex;
  flex-direction: column;
}

main>section>article {
  border: 1px solid grey;
  margin: 1rem;
}
img{
  display: flex;
  order: 0;
}
h3 {
  text-align: center;
}
.item-oferta{
  display: flex;
}
main>section>article>img {
  width: 100%;
  height: auto;
}


article p { 
  order: 1;

  font-family: Merriweather;
  line-height: 1.6; 
}
@media all and (min-width:768px) {
  section {
    flex-direction: row;
  }

}